<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/"> Home </a>
    <p>build #{{ id }}</p>
    <p>CPU - {{ data[0] }}</p>
    <p>Motherboard - {{ data[1] }}</p>
    <p>Cooler = {{ data[2] }}</p>
    <p>Memory = {{ data[3] }}</p>
    <p>Video-card = {{ data[4] }}</p>
    <p>Case = {{ data[5] }}</p>
    <p>Internal Hard Drive = {{ data[6] }}</p>
    <p>Power Supply = {{ data[7] }}</p>
    <p>price = {{ price }}</p>
    <a href="/mybuilds"> Go Back </a>
</body>
</html>