<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/"> Home </a>
    <p></p>
    <a href="/builder/partpicker/cpu"> CPU </a>
    <p></p>
    <a href="/builder/partpicker/motherboard"> Motherboard </a>
    <p></p>
    <a href="/builder/partpicker/cpu-cooler"> CPU Cooler </a>
    <p></p>
    <a href="/builder/partpicker/memory"> Memory </a>
    <p></p>
    <a href="/builder/partpicker/video-card"> Video-card </a>
    <p></p>
    <a href="/builder/partpicker/case"> Case </a>
    <p></p>
    <a href="/builder/partpicker/internal-hard-drive"> Hard-Drive </a>
    <p></p>
    <a href="/builder/partpicker/power-supply"> Power-Supply </a>
    <p></p>
    <a href="/builder/start/done"> Done </a>
    <p></p>
</body>
</html>