<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>brand = {{ response.brand }}</p>
    <p>model = {{ response.model }}</p>
    <p>cores = {{ response.cores }}</p>
    <p>tdp = {{ response.tdp }}</p>
    <p>integrated graphics = {{ response.integrated_graphics }}</p>
    <p>multithreading = {{ response.multithreading }}</p>
    <p>price = {{ response.price }}</p>
    <a href="/builder/{{ name }}/{{ id }}"> Collect </a>
    <p></p>
    <a href="/builder/start/start"> Home </a>

</body>
</html>